.dashboard-bg{

    width:100%;
    height:500vh;
    
}

/* just like we did for loading skeleton,we will use the same logic for the bg to move. */
.bg-layer{

    width:100%;
    height: 100%;
    z-index: 0;
    
    overflow: hidden;
    position: relative;

    }

.bg-layer::before{

    content:"";
    position:absolute;
    inset:0; 
    height: 210%;

    background-image: url("../../assets/dashboard-bg-2.png");
    background-size: contain;
    background-repeat: repeat;


    filter: blur(1.5px);
    /* this slightly expands beyond the edges and haence the image has to be extended slightly outside the viewport/container to prevent visible blurred egdes*/

    animation: floatBg 100s ease-in-out infinite alternate;
    will-change: transform;

}

.content-layer{
    width:100%;
    height:100%;
    position: absolute;
    inset: 0;
    z-index:2;

    display: flex;
    flex-direction: column;
    gap:40px;
}

/* can style later */
.repos-heading{
  color:var(--teal-3);
  margin: 0 4rem;

}

.repo-cards{
  width:90%;
  max-width:1200px;

  margin:2rem;

  display:grid;
  grid-template-columns: repeat(2,minmax(200px,1fr));
  gap:20px;
  justify-items:center;


  padding:20px;

  border: 2px solid var(--teal-1);
  background: var(--glass-surface-2),url("../../assets/dashboard-bg-2.png");
  backdrop-filter: blur(2px) saturate(1.18);
  border-radius: var(--card-border-radius);
  box-shadow: var(--shadow-card);
  
}

.collab-and-lang-breakdown{

  width:90%;
  max-width:1200px;

  margin:3rem;

}

.heatmap{
  width:90%;
  max-width:1200px;

  margin:3rem;


}

/* instead of animating bg-position which is not browser friendly,we'll animate the upward motion of pseudo element as it has more height than the element itself */
@keyframes floatBg {
  0% {
    transform: translateY(-100vh);
  }
  50%{
    transform: translateY(-70vh)
  }
  100% {
    transform: translateY(-100vh);
  }
}